/* Custom Variables */
:root {
  --color-1: #0a0708;
  --color-2: #444444;
  --color-3: #747474;
  --color-4: #b1b1b1;
  --font-1: "Montserrat", sans-serif;
  --font-2: "Oswald", sans-serif;
  --font-3: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 90%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 70%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 60%;
  }
}

body {
  /* background-color: brown; */
  font-family: var(--font-1);
}

ol,
ul {
  /* background-color: wheat; */
  padding-left: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--color-1);
}

h1,
h2 {
  font-family: var(--font-2);
  line-height: 1.5rem;
}

h2 {
  margin: 0.6rem 0;
}

.image {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.3125rem;
}

/* ------- MOBILE FIRST ------------ */

.main-container {
  background-color: var(--color-4);
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.25rem;
  /* word-wrap: break-word; */
  word-break: break-word;
  /* font-family: var(--font-1); */
  /* position: relative; */
  /* width: 100%; */
}

.container-2,
header,
nav,
main,
section {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-4);
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 1rem;
  box-shadow: 0px 1px 10px 2px var(--color-2);
}

.mob-bar {
  width: 10%;
  font-size: 1.3rem;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: right;
  margin-right: 0.5rem;
}

.fa-solid {
  /* background-color: azure; */
}

.mob-title {
  font-size: 1.3rem;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: rgb(42, 165, 144); */
  /* margin: auto; */
}

#nav-pane {
  display: none;
  background-color: #0a0708a5;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: 1;
  color: var(--color-4);
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0.5rem;
  line-height: 2rem;
}

nav h1 {
  /* line-height: 3rem;
  font-size: 1.7rem; */
  display: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
}

nav a {
  /* width: 100%; */
  color: var(--color-4);
  display: block;
  transition: 1s;
  font-weight: 600;
  margin: 3rem 0;
}

nav a:hover {
  /* font-weight: 600; */
  /* color: var(--color-3); */
  /* background-color: var(--color-2); */
  font-size: 1.8rem;
  font-weight: 650;
}

.first-header {
  padding-top: 1rem;
}

section {
  padding-top: 2.6rem;
  /* background-color: burlywood; */
}

code {
  display: block;
  text-align: left;
  word-break: normal;
  word-wrap: break-word;
  line-height: 2;
  background-color: var(--color-3);
  padding: 0.9375rem;
  margin: 0.3125rem 0;
  border-radius: 0.3125rem;
  font-family: var(--font-3);
  font-weight: 460;
}

.code-inline {
  display: inline;
  padding: 0.25rem;
  margin-top: 5rem;
}

.void-element-code {
  word-break: break-all;
}

/* Centering the pre code block */
.pre-code {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  word-break: break-word;
  /* white-space-collapse: discard; */
}

.mdn {
  /* color: var(--color-1); */
  font-family: var(--font-2);
  font-weight: 600;
}

footer {
  margin-top: 1rem;
  font-family: var(--font-3);
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

/* ------------- DESKTOP VIEW ----------- */

@media only screen and (min-width: 768px) {
  header {
    /* display: none; */
  }

  .container-2 {
    flex-direction: row;
  }

  #nav-pane {
    display: block;
    width: 30%;
  }

  main {
    margin-left: 2rem;
  }
}
