/* Custom Variables */
:root {
  --color-1: #0a0708;
  --color-2: #444444;
  --color-3: #747474;
  --color-4: #b1b1b1;
  --font-1: "Montserrat", sans-serif;
  --font-2: "Oswald", sans-serif;
  --font-3: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* This method of setting the font-size on the html helps in easing the responsiveness of the page, when rem units are used. */
/* Here  16px = 1rem = 100% */
html {
  font-size: 100%;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 90%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 70%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 60%;
  }
}

/* ---------- MOBILE FIRST ------------ */

body {
  /* background-color: brown; */
  font-family: var(--font-1);
  font-weight: 500;
}

ol,
ul {
  padding-left: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--color-1);
}

h1,
h2 {
  font-family: var(--font-2);
  line-height: 1.5rem;
}

h2 {
  margin: 0.6rem 0;
}

.image {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.3125rem;
}

.main-container {
  background-color: var(--color-4);
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.25rem;
  word-break: break-word;
}

.container-2,
header,
nav,
main,
section {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-4);
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 1rem;
  box-shadow: 0px 1px 10px 2px var(--color-2);
}

.mob-bar {
  width: 10%;
  font-size: 1.3rem;
  display: flex;
  justify-content: right;
  margin-right: 0.5rem;
}

.mob-title {
  font-size: 1.3rem;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#nav-pane {
  display: none;
  background-color: #0a0708a5;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: var(--color-4);
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0.5rem;
  line-height: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

nav h1 {
  display: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  color: var(--color-4);
  display: block;
  transition: 0.6s;
  font-weight: 600;
  margin: 3rem 0;
}

nav a:hover {
  font-size: 1.8rem;
  font-weight: 650;
}

.first-header {
  padding-top: 1rem;
}

section {
  padding-top: 2.6rem;
}

code {
  display: block;
  text-align: left;
  word-break: normal;
  word-wrap: break-word;
  line-height: 2;
  background-color: var(--color-3);
  padding: 0.9375rem;
  margin: 0.3125rem 0;
  border-radius: 0.3125rem;
  font-family: var(--font-3);
  font-weight: 460;
}

.code-inline {
  display: inline;
  padding: 0.25rem;
  margin-top: 5rem;
}

.void-element-code {
  word-break: break-all;
}

/* Aligning the pre code block */
.pre-code {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  word-break: break-word;
}

.mdn {
  font-family: var(--font-2);
  font-weight: 600;
}

footer {
  margin-top: 1rem;
  font-family: var(--font-3);
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

/* ------------- DESKTOP VIEW ----------- */

@media only screen and (min-width: 768px) {
  header,
  .fa-x {
    display: none;
  }

  .container-2 {
    flex-direction: row;
    align-items: center;
  }

  #nav-pane {
    background-color: var(--color-3);
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    width: 18rem;
    min-width: 18rem;
    padding: 0;
  }

  nav h1 {
    display: block;
    color: var(--color-1);
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

  nav a {
    color: var(--color-1);
    margin: 0;
    padding: 1.3rem;
    border-top: 1px solid var(--color-2);
  }

  nav a:hover {
    font-weight: 700;
    font-size: 1.1rem;
  }

  main {
    margin-left: 26.4%;
  }

  section {
    padding-top: 1rem;
  }

  .first-header {
    padding-top: 0;
  }
}
